body {
    background-color: blanchedalmond;
}
table, th, td {
    border: 2px solid  saddlebrown;
    border-collapse: collapse;
    padding: .5em;
}
table {
    margin-left: 3em;
}
h1 {
    text-align: center;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: forestgreen;
}
.create-button {
    background-color: #4CAF50;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0 2em 3em;
}
.create-button a {
    color: white;
}
.create-button a:hover {
    text-decoration: none;
    color: #2d3748;
}
input {
    margin: 0.5em;
}
.delete-button {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
    font-size: 16px;
}
.delete-button:hover {
    text-decoration: underline;
    color: #4CAF50;
}
.flash-success {
    background-color: forestgreen;
    color: white;
    text-align: center;
    height: 3em;
    padding-top: 1em;
    margin-bottom: 2em;
}

